name: build and test

on:
  push:
    paths-ignore:
      - "docs/**"
  pull_request:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.21.1
        env:
          CIBW_BUILD: "cp38-manylinux_x86_64 cp310-macosx* cp311-win_amd64 cp312-manylinux_x86_64 cp313-manylinux_x86_64" #  Speed up CI by only building a subset of wheels

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: wheels-${{ matrix.os }}-${{ strategy.job-index }}
