name: Build and test

on:
  push:
    paths-ignore:
      - "docs/**"
  pull_request:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-12]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.5
        env:
          CIBW_BUILD: "cp38-macosx* cp39-manylinux_x86_64 cp312-manylinux_x86_64 cp311-win_amd64" #  Speed up CI by only building a subset of wheels

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
